code_base/layer2_n8n/flow.json
{
  "name": "AI_Property_Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "property-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0a3e1db1-ebac-423a-a214-9c581c1c0b11",
      "name": "Node 1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1232,
        160
      ],
      "webhookId": "property-triage-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8003/check/input",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.description }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "4e711327-ebdf-4ea7-94fc-0adc359f8f16",
      "name": "Node 2 — Guardrails Input Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "683cc459-df33-4394-a2d0-14486cd78cbf",
      "name": "Node 3 — Pass / Reject Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -816,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, rejected: true, reason: $('Node 2 — Guardrails Input Check').item.json.reason || 'Submission did not pass validation.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "14dcb027-3702-44fd-9573-9e92cab5f366",
      "name": "Node 3b — Reject Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -816,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88c01f34-70ea-470d-9dc9-e7fde01930ee",
      "name": "Gemini Chat Model — Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        352
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YnWCIy0A6hgjb0K3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ 'You extract structured fields from a real-estate listing description. Reply with one JSON object only — no markdown, no triple-backtick code fences, no text before or after the JSON.\\n\\nUse exactly these keys and types:\\n- property_type (string): apartment | house | villa | office | retail | industrial | other\\n- location (string): city or neighbourhood as stated\\n- price_ils (number or null): asking price in ILS; null if not mentioned\\n- num_rooms (number or null): integer room count; null if not mentioned\\n- key_features (array of strings): up to 5 short strings; [] if none\\n- certifications (string): energy ratings etc., or empty string if none\\n\\nListing description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nRespond with JSON only.' }}"
      },
      "id": "193e7b9c-088e-4887-b147-dc0e2a7a5d4e",
      "name": "Node 4 — Extract listing (LLM)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -624,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw =\n  typeof item.text === 'string'\n    ? item.text\n    : typeof item.output === 'string'\n      ? item.output\n      : '';\n\nlet stripped = String(raw)\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet data = null;\ntry {\n  data = JSON.parse(stripped);\n} catch (e) {\n  const m = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try {\n      data = JSON.parse(m[0]);\n    } catch (e2) {}\n  }\n}\n\nfunction norm(v) {\n  if (typeof v === 'string' && v.includes(',')) {\n    return v.split(',').map((s) => s.trim()).filter(Boolean).slice(0, 5);\n  }\n  if (Array.isArray(v)) return v.slice(0, 5);\n  if (v == null || v === '') return [];\n  return [String(v)];\n}\n\nif (!data || typeof data !== 'object') {\n  return [{ json: { output: null, extract_error: true, raw_preview: String(raw).slice(0, 500) } }];\n}\n\nconst output = {\n  property_type: data.property_type ?? 'other',\n  location: data.location ?? '',\n  price_ils: typeof data.price_ils === 'number' ? data.price_ils : data.price_ils == null ? null : Number(data.price_ils) || null,\n  num_rooms: typeof data.num_rooms === 'number' ? data.num_rooms : data.num_rooms == null ? null : parseInt(String(data.num_rooms), 10) || null,\n  key_features: norm(data.key_features),\n  certifications: data.certifications != null ? String(data.certifications) : '',\n};\n\nreturn [{ json: { output } }];"
      },
      "id": "bef12e84-1204-422e-898c-2783465a6784",
      "name": "Node 4b — Parse extracted JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        336
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76c86d93-db71-439e-8c51-73797ec3c7e1",
      "name": "Gemini Chat Model — Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        352
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YnWCIy0A6hgjb0K3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Listing description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nExtracted fields:\\n' + JSON.stringify($('Node 4b — Parse extracted JSON').item.json) + '\\n\\nImage URLs:\\n' + JSON.stringify($('Node 1 — Webhook Trigger').item.json.body.image_urls || []) }}",
        "options": {
          "systemMessage": "You are a senior property analyst working for a real estate triage platform.\n\nYou enrich property listings ONLY via the LangGraph backend. Do NOT call rag_query or analyse_images directly — LangGraph invokes RAG and the image service internally.\n\nTool:\n  langgraph_agent — Call exactly ONCE per run.\n    • description: the full listing text (same as \"Listing description\" in the user message).\n    • image_urls: a JSON array of image URL strings; use [] if none were provided.\n\nAfter langgraph_agent returns, build your answer from its JSON payload. Prefer the object's `report` field if present; otherwise use the payload as-is. Produce ONLY a JSON object matching the schema below (no markdown, no commentary).\n\n{\n  \"property_type\":    string,\n  \"routing_decision\": \"residential\" or \"commercial\",\n  \"location\":         string,\n  \"price_ils\":        number or null,\n  \"num_rooms\":        number or null,\n  \"key_features\":     [string],\n  \"image_scores\":     [{url, room_type, condition_score, confidence}],\n  \"similar_listings\": [string],\n  \"rag_insight\":      string,\n  \"enrichment_notes\": string,\n  \"confidence\":       number\n}\n\nRouting rules: residential = apartment/house/villa. commercial = office/retail/industrial.\nDo NOT invent data beyond the listing, extracted fields (in the user message), and LangGraph tool output.",
          "maxIterations": 6,
          "returnIntermediateSteps": false
        }
      },
      "id": "d94f1303-a721-4585-a29d-4396d5f89685",
      "name": "Node 5 — AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -272,
        160
      ]
    },
    {
      "parameters": {
        "toolDescription": "Queries the RAG knowledge base for similar past property listings. Always call this first with the full listing description. The 'description' parameter should contain the property listing description text.",
        "method": "POST",
        "url": "http://127.0.0.1:8001/query",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "description"
            }
          ]
        }
      },
      "id": "444bd041-7a48-4745-af12-0487574c5e07",
      "name": "rag_query",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -432,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Classifies room types and scores property condition from image URLs. Call this when image_urls is a non-empty array. Pass all URLs in one call. The 'image_urls' parameter should be a JSON array of image URL strings.",
        "method": "POST",
        "url": "http://127.0.0.1:8002/analyse",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "image_urls"
            }
          ]
        }
      },
      "id": "5356eb9e-67cb-4376-976a-cd45f139ef71",
      "name": "analyse_images",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -288,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Runs a multi-step LangGraph agent for complex property analysis. Call only when rag_query and analyse_images alone are insufficient. The 'description' parameter is the listing text, 'image_urls' is a JSON array of image URLs.",
        "method": "POST",
        "url": "http://127.0.0.1:8004/agent/run",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "description"
            },
            {
              "name": "image_urls"
            }
          ]
        }
      },
      "id": "080c8aac-0ff9-4ebc-90e6-f3e9a820399a",
      "name": "langgraph_agent",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        -128,
        464
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5fcb43c2-3e43-46cb-a3d3-df05c33ecb16",
      "name": "Gemini Chat Model — Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YnWCIy0A6hgjb0K3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=You normalize an existing property triage JSON. You are NOT allowed to substitute demo cities, tutorial examples, or plausible but fake listings.\n\nPRESERVE VERBATIM (same semantic values; only fix invalid JSON or types):\n- location, price_ils, num_rooms, key_features, image_scores, similar_listings, rag_insight, routing_decision, enrichment_notes, confidence\n- property_type: capitalization only (e.g. apartment → Apartment).\n- similar_listings: keep each element as in the source — strings OR RAG objects {id, title, description, similarity_score}; do not stringify objects into fake titles.\n\nFORBIDDEN:\n- Changing city, price, rooms, or swapping routing_decision (e.g. \"residential\" → \"High Priority\").\n- Filling empty arrays with fake features, image_scores, or similar_listings.\n- Replacing rag_insight that mentions tool/RAG errors with unrelated marketing text.\n\nENRICHMENT_NOTES: only lightly edit phrasing; keep the same facts and caveats as in the extracted JSON.\n\nIf there is NO parsable JSON (only chat text), return placeholders: \"unknown\", null, [], confidence 0.\n\nOutput ONE raw JSON object — no markdown fences, no commentary.\n\nReport to clean:\n{{ JSON.stringify($json.output) }}\n"
      },
      "id": "481fb5a8-5340-41fc-821e-437b52ca3606",
      "name": "Node 6 — Final Report LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw =\n  typeof item.text === 'string'\n    ? item.text\n    : typeof item.output === 'string'\n      ? item.output\n      : '';\n\nlet stripped = String(raw)\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nlet data = null;\ntry {\n  data = JSON.parse(stripped);\n} catch (e) {\n  const m = stripped.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try {\n      data = JSON.parse(m[0]);\n    } catch (e2) {}\n  }\n}\n\nif (data && data.report && typeof data.report === 'object') {\n  data = data.report;\n}\n\nconst fallback = {\n  property_type: 'unknown',\n  routing_decision: 'residential',\n  location: 'unknown',\n  price_ils: null,\n  num_rooms: null,\n  key_features: [],\n  image_scores: [],\n  similar_listings: [],\n  rag_insight: '',\n  enrichment_notes: 'Could not parse final report JSON from the LLM chain output.',\n  confidence: 0,\n  parse_error: true,\n};\n\nif (!data || typeof data !== 'object') {\n  return [{ json: { ...fallback, raw_preview: typeof raw === 'string' ? raw.slice(0, 800) : '' } }];\n}\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        352
      ],
      "id": "b03b3755-8483-49ce-b559-5b0bb8fd7043",
      "name": "Node 6c — Parse report JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8003/check/output",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "report",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "original_listing",
              "value": "={{ $('Node 1 — Webhook Trigger').item.json.body.description }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2a45b7eb-3c87-4ba0-84aa-774cdebce481",
      "name": "Node 7 — Guardrails Output Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              },
              "id": "2be2d1b1-bbbb-4722-96bf-4373b14efcb5"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fb8bcca-23bf-40fa-ad20-5f61883591a3",
      "name": "Node 7b — Output Pass / Flag Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:9090/review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "report",
              "value": "={{ JSON.stringify($('Node 6c — Parse report JSON').item.json) }}"
            },
            {
              "name": "flag_reason",
              "value": "={{ $('Node 7 — Guardrails Output Check').item.json.reason }}"
            },
            {
              "name": "agent_name",
              "value": "={{ $('Node 1 — Webhook Trigger').item.json.body.agent_name }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "24bbd0cc-c9b2-4e02-8535-83add36dba7e",
      "name": "Node 7c — Human Review Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        384
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Node 6c — Parse report JSON').item.json.routing_decision }}",
                    "rightValue": "residential",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "da173325-3a38-4668-a907-fa353819a80c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Node 6c — Parse report JSON').item.json.routing_decision }}",
                    "rightValue": "commercial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "f95c2059-5137-495d-bb2d-2b3d5f48be00"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "605f75c2-3404-4a5b-893a-efee5b573ec9",
      "name": "Node 8 — Property Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        752,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'residential', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1c90b55e-3a11-4257-9053-9b65d5d6f3bd",
      "name": "Node 8a — Residential Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        992,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'commercial', report: $('Node 6c — Parse report JSON').item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "160c8905-c3bd-49fc-b3e6-f27fc756478d",
      "name": "Node 8b — Commercial Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        992,
        272
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        352
      ],
      "id": "379cb27d-fee4-4da0-96d4-b5758b36dcba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wHMumzOvJMeIcK8P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        112,
        320
      ],
      "id": "e5673dc9-10cd-4545-81b1-8517bcaff792",
      "name": "Node 6b — Parse report JSON"
    }
  ],
  "pinData": {},
  "connections": {
    "Node 1 — Webhook Trigger": {
      "main": [
        [
          {
            "node": "Node 2 — Guardrails Input Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 2 — Guardrails Input Check": {
      "main": [
        [
          {
            "node": "Node 3 — Pass / Reject Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 3 — Pass / Reject Router": {
      "main": [
        [
          {
            "node": "Node 4 — Extract listing (LLM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 3b — Reject Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 4 — Extract listing (LLM)": {
      "main": [
        [
          {
            "node": "Node 4b — Parse extracted JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 4b — Parse extracted JSON": {
      "main": [
        [
          {
            "node": "Node 5 — AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model — Extractor": {
      "ai_languageModel": [
        [
          {
            "node": "Node 4 — Extract listing (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model — Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Node 5 — AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Node 5 — AI Agent": {
      "main": [
        [
          {
            "node": "Node 6 — Final Report LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "langgraph_agent": {
      "ai_tool": [
        [
          {
            "node": "Node 5 — AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Node 6 — Final Report LLM Chain": {
      "main": [
        [
          {
            "node": "Node 6c — Parse report JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 6c — Parse report JSON": {
      "main": [
        [
          {
            "node": "Node 7 — Guardrails Output Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 7 — Guardrails Output Check": {
      "main": [
        [
          {
            "node": "Node 7b — Output Pass / Flag Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 7b — Output Pass / Flag Router": {
      "main": [
        [
          {
            "node": "Node 8 — Property Type Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 7c — Human Review Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 8 — Property Type Router": {
      "main": [
        [
          {
            "node": "Node 8a — Residential Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 8b — Commercial Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Node 6 — Final Report LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9c5d7521-1968-4878-bcf4-e38d8056fc02",
  "meta": {
    "instanceId": "93d10d77be7b345248174aba7ac43b0b5a62c0a0a62bf1ed5bcd6af889c0b500"
  },
  "id": "KTmqpo6jEYzPBoKR",
  "tags": []
}