code_base/layer2_n8n/flow_old_v1.json
{
  "name": "Property Triage Pipeline",
  "nodes": [

    {
      "id": "node-1-webhook",
      "name": "Node 1 — Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "property-triage-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "property-triage",
        "responseMode": "lastNode",
        "options": {}
      }
    },

    {
      "id": "node-2-guardrails-input",
      "name": "Node 2 — Guardrails Input Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [340, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GUARDRAILS_URL }}/check/input",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $json.body.description }}" }
          ]
        },
        "options": {
          "timeout": 30000,
          "fullResponse": false
        }
      }
    },

    {
      "id": "node-3-guardrails-router",
      "name": "Node 3 — Pass / Reject Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [580, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.passed }}",
              "value2": true
            }
          ]
        }
      }
    },

    {
      "id": "node-3b-reject-respond",
      "name": "Node 3b — Reject Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [580, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, rejected: true, reason: $('Node 2 — Guardrails Input Check').item.json.reason || 'Submission did not pass validation.' }) }}",
        "options": {
          "responseCode": 422
        }
      }
    },

    {
      "id": "node-4-model-openai",
      "name": "OpenAI Chat Model — Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [820, 500],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },

    {
      "id": "node-4-extractor",
      "name": "Node 4 — Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [820, 300],
      "parameters": {
        "text": "={{ $('Node 1 — Webhook Trigger').item.json.body.description }}",
        "systemPromptTemplate": "You are a structured data extractor for a real estate platform.\n\nExtract the following fields from the property listing text.\nReturn ONLY a valid JSON object — no preamble, no markdown fences.\n\nRules:\n- Extract only what is explicitly stated — do not infer or invent.\n- For fields not mentioned, use null or [] as appropriate.\n- For price_ils: strip currency symbols and commas, return a plain number.\n\nListing text:\n{text}",
        "attributes": {
          "attributes": [
            {
              "name": "property_type",
              "type": "string",
              "description": "Property type: apartment, house, villa, office, retail, industrial, or other"
            },
            {
              "name": "location",
              "type": "string",
              "description": "City or neighbourhood as stated in the listing"
            },
            {
              "name": "price_ils",
              "type": "number",
              "description": "Asking price in ILS as a plain number, null if not mentioned"
            },
            {
              "name": "num_rooms",
              "type": "number",
              "description": "Number of rooms as an integer, null if not mentioned"
            },
            {
              "name": "key_features",
              "type": "string",
              "description": "Up to 5 notable property features as a comma-separated list"
            },
            {
              "name": "certifications",
              "type": "string",
              "description": "Energy ratings or certifications as a comma-separated list, empty string if none"
            }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "node-5-model-openai",
      "name": "OpenAI Chat Model — Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1180, 120],
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },

    {
      "id": "node-5-ai-agent",
      "name": "Node 5 — AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [1060, 300],
      "parameters": {
        "agent": "toolsAgent",
        "text": "={{ 'Listing description:\\n' + $('Node 1 — Webhook Trigger').item.json.body.description + '\\n\\nExtracted fields:\\n' + JSON.stringify($('Node 4 — Information Extractor').item.json) + '\\n\\nImage URLs:\\n' + JSON.stringify($('Node 1 — Webhook Trigger').item.json.body.image_urls || []) }}",
        "promptType": "define",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a senior property analyst working for a real estate triage platform.\n\nYou receive a new property listing with description, extracted fields, and optional image URLs.\nCall the available tools to enrich the listing, then output a structured JSON report.\n\nTools:\n  1. rag_query       — ALWAYS call this first with the listing description.\n  2. analyse_images  — Call this if image_urls is a non-empty array. Pass all URLs at once.\n  3. langgraph_agent — Call for complex multi-step analysis when the listing has unusual features.\n\nAfter calling all relevant tools, return ONLY a JSON object with these exact fields:\n{\n  \"property_type\":    string,\n  \"routing_decision\": \"residential\" or \"commercial\",\n  \"location\":         string,\n  \"price_ils\":        number or null,\n  \"num_rooms\":        number or null,\n  \"key_features\":     [string],\n  \"image_scores\":     [{url, room_type, condition_score, confidence}],\n  \"similar_listings\": [string],\n  \"rag_insight\":      string,\n  \"enrichment_notes\": string,\n  \"confidence\":       number\n}\n\nRouting rules: residential = apartment/house/villa. commercial = office/retail/industrial.\nDo NOT invent any data not present in the listing or tool results.",
          "maxIterations": 6,
          "returnIntermediateSteps": false
        }
      }
    },

    {
      "id": "node-5-tool-rag",
      "name": "Tool — RAG Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1060, 120],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAG_URL }}/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "description", "value": "={{ $fromAI('description', 'The property listing description to query against the knowledge base', 'string') }}" }
          ]
        },
        "options": { "timeout": 60000 },
        "description": "Queries the RAG knowledge base for similar past property listings. Always call this first with the full listing description."
      }
    },

    {
      "id": "node-5-tool-image",
      "name": "Tool — Image Analyser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1060, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IMAGE_URL }}/analyse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "image_urls", "value": "={{ $fromAI('image_urls', 'JSON array of image URL strings to analyse', 'json') }}" }
          ]
        },
        "options": { "timeout": 60000 },
        "description": "Classifies room types and scores property condition from image URLs. Call this when image_urls is a non-empty array. Pass all URLs in one call."
      }
    },

    {
      "id": "node-5-tool-langgraph",
      "name": "Tool — LangGraph Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1060, 640],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LANGGRAPH_URL }}/agent/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "description", "value": "={{ $fromAI('description', 'The listing description', 'string') }}" },
            { "name": "image_urls", "value": "={{ $fromAI('image_urls', 'Array of image URLs', 'json') }}" }
          ]
        },
        "options": { "timeout": 120000 },
        "description": "Runs a multi-step LangGraph agent for complex property analysis. Call only when rag_query and analyse_images alone are insufficient."
      }
    },

    {
      "id": "node-6-model-openai",
      "name": "OpenAI Chat Model — Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1420, 120],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },

    {
      "id": "node-6-llm-chain",
      "name": "Node 6 — Final Report LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [1300, 300],
      "parameters": {
        "prompt": "You are a senior property analyst. Clean and validate the report below.\nFix any formatting issues. Ensure all required fields are present and correctly typed.\n\nCRITICAL RULES:\n- Do NOT invent, fabricate, or add ANY data that is not explicitly present in the report.\n- If a field's value is not present in the report, use null for numbers, \"unknown\" for strings, and [] for arrays.\n- If the input does not look like a structured property report (e.g. it is just a conversational message), return a JSON with all fields set to null/empty and confidence set to 0.\n- NEVER guess prices, locations, features, or scores that are not in the source text.\n\nReturn ONLY a valid JSON object — no markdown, no explanation.\n\nRequired fields: property_type, routing_decision, location, price_ils, num_rooms, key_features, image_scores, similar_listings, rag_insight, enrichment_notes, confidence.\n\nReport to clean:\n{{ $json.output }}"
      }
    },

    {
      "id": "node-6-output-parser",
      "name": "Node 6b — JSON Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [1300, 480],
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"property_type\":    { \"type\": \"string\" },\n    \"routing_decision\": { \"type\": \"string\" },\n    \"location\":         { \"type\": \"string\" },\n    \"price_ils\":        { \"type\": [\"number\", \"null\"] },\n    \"num_rooms\":        { \"type\": [\"number\", \"null\"] },\n    \"key_features\":     { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"image_scores\":     { \"type\": \"array\" },\n    \"similar_listings\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"rag_insight\":      { \"type\": \"string\" },\n    \"enrichment_notes\": { \"type\": \"string\" },\n    \"confidence\":       { \"type\": \"number\" }\n  },\n  \"required\": [\"property_type\",\"routing_decision\",\"location\",\"key_features\",\"image_scores\",\"similar_listings\",\"rag_insight\",\"enrichment_notes\",\"confidence\"]\n}"
      }
    },

    {
      "id": "node-7-guardrails-output",
      "name": "Node 7 — Guardrails Output Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1540, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GUARDRAILS_URL }}/check/output",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "report", "value": "={{ JSON.stringify($json) }}" },
            { "name": "original_listing", "value": "={{ $('Node 1 — Webhook Trigger').item.json.body.description }}" }
          ]
        },
        "options": { "timeout": 30000 }
      }
    },

    {
      "id": "node-7b-output-router",
      "name": "Node 7b — Output Pass / Flag Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.passed }}",
              "value2": true
            }
          ]
        }
      }
    },

    {
      "id": "node-7c-human-review",
      "name": "Node 7c — Human Review Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 500],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HUMAN_REVIEW_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "report", "value": "={{ JSON.stringify($('Node 6 — Final Report LLM Chain').item.json) }}" },
            { "name": "flag_reason", "value": "={{ $('Node 7 — Guardrails Output Check').item.json.reason }}" },
            { "name": "agent_name", "value": "={{ $('Node 1 — Webhook Trigger').item.json.body.agent_name }}" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },

    {
      "id": "node-8-property-router",
      "name": "Node 8 — Property Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [2020, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Node 6 — Final Report LLM Chain').item.json.routing_decision }}",
        "rules": {
          "rules": [
            { "value2": "residential" },
            { "value2": "commercial" }
          ]
        },
        "fallbackOutput": 0
      }
    },

    {
      "id": "node-8a-residential-respond",
      "name": "Node 8a — Residential Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2260, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'residential', report: $('Node 6 — Final Report LLM Chain').item.json }) }}",
        "options": { "responseCode": 200 }
      }
    },

    {
      "id": "node-8b-commercial-respond",
      "name": "Node 8b — Commercial Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2260, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: 'commercial', report: $('Node 6 — Final Report LLM Chain').item.json }) }}",
        "options": { "responseCode": 200 }
      }
    }

  ],

  "connections": {
    "Node 1 — Webhook Trigger": {
      "main": [[{ "node": "Node 2 — Guardrails Input Check", "type": "main", "index": 0 }]]
    },
    "Node 2 — Guardrails Input Check": {
      "main": [[{ "node": "Node 3 — Pass / Reject Router", "type": "main", "index": 0 }]]
    },
    "Node 3 — Pass / Reject Router": {
      "main": [
        [{ "node": "Node 4 — Information Extractor", "type": "main", "index": 0 }],
        [{ "node": "Node 3b — Reject Response",       "type": "main", "index": 0 }]
      ]
    },
    "Node 4 — Information Extractor": {
      "main": [[{ "node": "Node 5 — AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model — Extractor": {
      "ai_languageModel": [[{ "node": "Node 4 — Information Extractor", "type": "ai_languageModel", "index": 0 }]]
    },
    "OpenAI Chat Model — Agent": {
      "ai_languageModel": [[{ "node": "Node 5 — AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Node 5 — AI Agent": {
      "main": [[{ "node": "Node 6 — Final Report LLM Chain", "type": "main", "index": 0 }]]
    },
    "Tool — RAG Query": {
      "ai_tool": [[{ "node": "Node 5 — AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool — Image Analyser": {
      "ai_tool": [[{ "node": "Node 5 — AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Tool — LangGraph Agent": {
      "ai_tool": [[{ "node": "Node 5 — AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Node 6b — JSON Output Parser": {
      "ai_outputParser": [[{ "node": "Node 6 — Final Report LLM Chain", "type": "ai_outputParser", "index": 0 }]]
    },
    "OpenAI Chat Model — Report": {
      "ai_languageModel": [[{ "node": "Node 6 — Final Report LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Node 6 — Final Report LLM Chain": {
      "main": [[{ "node": "Node 7 — Guardrails Output Check", "type": "main", "index": 0 }]]
    },
    "Node 7 — Guardrails Output Check": {
      "main": [[{ "node": "Node 7b — Output Pass / Flag Router", "type": "main", "index": 0 }]]
    },
    "Node 7b — Output Pass / Flag Router": {
      "main": [
        [{ "node": "Node 8 — Property Type Router",  "type": "main", "index": 0 }],
        [{ "node": "Node 7c — Human Review Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Node 8 — Property Type Router": {
      "main": [
        [{ "node": "Node 8a — Residential Response", "type": "main", "index": 0 }],
        [{ "node": "Node 8b — Commercial Response",  "type": "main", "index": 0 }]
      ]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },

  "staticData": null,
  "tags": ["property-triage"],
  "triggerCount": 0
}
